[#escape x as (x)!?html]
<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8"/>
<title>${node.name}_${site.fullNameOrName}${global.customs['poweredby']}</title>
<meta name="keywords" content="${node.keywords}"/>
<meta name="description" content="${node.description}"/>
<link href="_files/global.css" rel="stylesheet"/>
<link href="_files/style.css" rel="stylesheet"/>
<link href="_files/css/hw_master.css" rel="stylesheet" type="text/css" />
<link href="_files/css/hw_layout.css" rel="stylesheet" type="text/css" />
	<!--[if lt IE 9]><script src="_files/html5.js"></script><![endif]-->
	<script src="_files/jquery.js"></script>
	<script src="_files/js/jquery-1.4.2.min.js"></script>
	<script src="_files/js/jqueryBanner.min.js"></script>
	<style type="text/css">
		html,body{margin:0;padding:0;}
		.iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
		.iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}
	</style>
	<script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>

	[#include 'inc_js.html'/]

	<style>
		body{
			background-color: #f1f1f1;
			padding: 0;
			margin: 0;
		}
		.top {
			width: 100%;
			height: 100px;
			position: fixed;
			z-index: 900;
			background-color: rgba(0, 0, 0, 0.66);

		}

		.menu {
			width: 1150px;
			height: 100px;
			margin: 0 auto;
		}

		.fixednav {
			position: fixed;
			height: 100px;
			top: 0px;
			left: 0px;
			width: 100%;
			background: rgba(0, 0, 0, 0.8)
		}

		.menu ul {
			float: right;
			margin: 0;
		}

		.menu ul li {
			list-style: none;
			color: #454545;
			font-family: "";
			/*font-size: 12px;*/
			float: left;
			height: 30px;
			margin: 35px 0
		}

		.menu ul li a {
			display: block;
			padding: 0 20px;
			color: #fff;
			font: 14px/30px "微软雅黑";
		}

		.nav0 li {
			text-transform: uppercase;
			position: relative;
			width: 105px;
			height: 30px;
			overflow: hidden;
		}

		.nav0 li a span {
			/*color: #007cd0;*/
			display: block;
			position: absolute;
		}

		.en {
			bottom: -30px;
			font: 18px/30px "Arial Unicode MS";
			color: #FF0
		}

		.cn {
			top: 0;
			font: 16px/30px "微软雅黑";

		}

		.nav0 li a span.cn {
			top: 0;
			font-family: '微软雅黑';
		}

		.logo {
			width: 100px;
			height: 100px;
			float: left;
		}
		.space{
			height: 100px;
		}

		.form-item{margin-top:20px;}
		.form-label{float:left;padding-right:30px;width:130px;font-size:18px;font-weight:bold;text-align:right;}
		.form-input{float:left;}
	</style>
	<script>
		function setTab(name,cursel,n){
			for(i=1;i<=n;i++){
				var menu=document.getElementById(name+i);
				var con=document.getElementById("con_"+name+"_"+i);
				menu.className=i==cursel?"hover":"";
				con.style.display=i==cursel?"block":"none";
			}
		}
	</script>
</head>
<body onload="setMenuPisition()" style="overflow-x: hidden;overflow-y: scroll;">
<!--走进意创-->

<div class="top">
	<div class="menu">
		<div class="logo"><img src="_files/images/logo.png" /></div>
		<ul class="nav0">
			<li style="margin-left: 30px"><a href="${ctx}/"><span class="cn" style="top:0; left: 0px;"> 首页</span><span class="en" style="bottom:-30px; left: 0px;">index</span></a></li>
			[@NodeList;list]
			[#list list as n]
			<li style="margin-left: 30px"><a href="${n.url}"><span class="cn" style="[#if n_index==4]color:red;[/#if]top:0; left: 0px;">${n.name}</span><span class="en" style="bottom:-30px; left: 0px;">${n.number}</span></a></li>
			[/#list]
			[/@NodeList]

		</ul>
	</div>
</div>
<div class="space"></div>
[@Info id=330;info]
<div class="gg-left" style="background: url(${info.smallImageUrl});">
	[/@Info]
	<div class="gg-link">
	</div>
</div>
[@Info id=331;info]
<div class="gg-right" style="background: url(${info.smallImageUrl});">
	[/@Info]
</div>
	<div class="main">
		<div class="case_box">
			<div class="anli_left2">
				<div class="Menubox2">
					<ul class="case_list">
						[@InfoList nodeId=node.id sort='id asc' limit='4';list]
						[#list list as info]
						<li  class="[#if info_index==0] hover[/#if] position_fixed"  id="one${info_index+1}" onclick="setTab('one','${info_index+1}',6)">${info.title}</li>
						[/#list]
						[/@InfoList]
						<li id="one5" class="position_fixed"  onclick="setTab('one','5',6)">给我留言</li>
					</ul>
				</div>
			</div>
			<div class="anli_right">
				<div class="fengxian_box">
					<div id="Tab1">
						<div class="Contentbox">
							[@InfoList nodeId=node.id sort='id asc' limit='4';list]
							[#list list as info]
							<div  class="[#if info_index==0] hover[/#if]"  style="[#if info_index>0]display:none[/#if]"  id="con_one_${info_index+1}"><br />
								<div>
									[#list info.textList as textInfo]
									[#noescape]${textInfo.text}[/#noescape]
									[/#list]
								</div>
								[#if info_index==1]
								<!--百度地图容器-->
								<div style="width:820px;height:600px;border:#ccc solid 1px;" id="dituContent"></div>
								<script type="text/javascript">
                                    //创建和初始化地图函数：
                                    function initMap(){
                                        createMap();//创建地图
                                        setMapEvent();//设置地图事件
                                        addMapControl();//向地图添加控件
                                        addMarker();//向地图中添加marker
                                    }

                                    //创建地图函数：
                                    function createMap(){
                                        var map = new BMap.Map("dituContent");//在百度地图容器中创建一个地图
                                        var point = new BMap.Point(116.340745,39.998657);//定义一个中心点坐标
                                        map.centerAndZoom(point,17);//设定地图的中心点和坐标并将地图显示在地图容器中
                                        window.map = map;//将map变量存储在全局
                                    }

                                    //地图事件设置函数：
                                    function setMapEvent(){
                                        map.enableDragging();//启用地图拖拽事件，默认启用(可不写)
                                        map.enableScrollWheelZoom();//启用地图滚轮放大缩小
                                        map.enableDoubleClickZoom();//启用鼠标双击放大，默认启用(可不写)
                                        map.enableKeyboard();//启用键盘上下左右键移动地图
                                    }

                                    //地图控件添加函数：
                                    function addMapControl(){
                                        //向地图中添加缩放控件
                                        var ctrl_nav = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_LARGE});
                                        map.addControl(ctrl_nav);
                                        //向地图中添加缩略图控件
                                        var ctrl_ove = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:1});
                                        map.addControl(ctrl_ove);
                                        //向地图中添加比例尺控件
                                        var ctrl_sca = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
                                        map.addControl(ctrl_sca);
                                    }

                                    //标注点数组
                                    var markerArr = [{title:"炫肚ING豆皮涮牛肚",content:"意创食代（北京）餐饮管理有限公司",point:"116.346765|39.993677",isOpen:0,icon:{w:21,h:21,l:0,t:0,x:6,lb:5}}
                                    ];
                                    //创建marker
                                    function addMarker(){
                                        for(var i=0;i<markerArr.length;i++){
                                            var json = markerArr[i];
                                            var p0 = json.point.split("|")[0];
                                            var p1 = json.point.split("|")[1];
                                            var point = new BMap.Point(p0,p1);
                                            var iconImg = createIcon(json.icon);
                                            var marker = new BMap.Marker(point,{icon:iconImg});
                                            var iw = createInfoWindow(i);
                                            var label = new BMap.Label(json.title,{"offset":new BMap.Size(json.icon.lb-json.icon.x+10,-20)});
                                            marker.setLabel(label);
                                            map.addOverlay(marker);
                                            label.setStyle({
                                                borderColor:"#808080",
                                                color:"#333",
                                                cursor:"pointer"
                                            });

                                            (function(){
                                                var index = i;
                                                var _iw = createInfoWindow(i);
                                                var _marker = marker;
                                                _marker.addEventListener("click",function(){
                                                    this.openInfoWindow(_iw);
                                                });
                                                _iw.addEventListener("open",function(){
                                                    _marker.getLabel().hide();
                                                })
                                                _iw.addEventListener("close",function(){
                                                    _marker.getLabel().show();
                                                })
                                                label.addEventListener("click",function(){
                                                    _marker.openInfoWindow(_iw);
                                                })
                                                if(!!json.isOpen){
                                                    label.hide();
                                                    _marker.openInfoWindow(_iw);
                                                }
                                            })()
                                        }
                                    }
                                    //创建InfoWindow
                                    function createInfoWindow(i){
                                        var json = markerArr[i];
                                        var iw = new BMap.InfoWindow("<b class='iw_poi_title' title='" + json.title + "'>" + json.title + "</b><div class='iw_poi_content'>"+json.content+"</div>");
                                        return iw;
                                    }
                                    //创建一个Icon
                                    function createIcon(json){
                                        var icon = new BMap.Icon("http://app.baidu.com/map/images/us_mk_icon.png", new BMap.Size(json.w,json.h),{imageOffset: new BMap.Size(-json.l,-json.t),infoWindowOffset:new BMap.Size(json.lb+5,1),offset:new BMap.Size(json.x,json.h)})
                                        return icon;
                                    }

                                    initMap();//创建和初始化地图
								</script>
								[/#if]
							</div>
							[/#list]
							[/@InfoList]
							<div style="display:none"  id="con_one_5"><br/>
								<div>
									<form id="guestbookForm" action="${ctx}/guestbook/create.jspx" method="post">
										<input type="hidden" name="status_0" value="留言成功！"/>
										<input type="hidden" name="status_1" value="留言成功，请等待管理员审核！"/>
										<input type="hidden" name="nextUrl" value="${ctx}/guestbook.jspx"/>
										<div class="mt20" style="padding:0px 20px 20px 20px;border:1px dotted #cdcdcd; background-color:#f2f2f2;">
											<div class="form-item">
												<div class="form-label"><em class="required">*</em>留言标题</div>
												<div class="form-input"><input type="text" name="title" class="required" maxlength="150" style="width:500px;height: 40px;"/></div>
												<div class="clear"></div>
											</div>
											<div class="form-item">
												<div class="form-label"><em class="required">*</em>留言内容</div>
												<div class="form-input"><textarea name="text" class="required" maxlength="${conf.maxLength}" style="width:500px;height:120px;"></textarea></div>
												<div class="clear"></div>
											</div>
											<div class="form-item">
												<div class="form-label"><em class="required">*</em>留言类别</div>
												<div class="form-input">
													[@GuestbookTypeList;list]
													[#list list as type]
													<label style="margin-right:15px;"><input type="radio" name="typeId" value="${type.id}" class="required" checked="[#if type_index==0] checked [/#if]"/>${type.name}</label>
													[/#list]
													[/@GuestbookTypeList]
												</div>
												<div class="clear"></div>
											</div>
											<div class="form-item">
												<div class="form-label">真实姓名</div>
												<div class="form-input"><input type="text" name="username" style="width:220px;height: 40px;"/></div>
												<div class="clear"></div>
											</div>
											<div class="form-item">
												<div class="form-label">联系电话</div>
												<div class="form-input"><input type="text" name="mobile" style="width:220px;height: 40px;"/></div>
												<div class="clear"></div>
											</div>
											<div class="form-item">
												<div class="form-label">电子邮箱</div>
												<div class="form-input"><input type="text" name="email" style="width:220px;height: 40px;"/></div>
												<div class="clear"></div>
											</div>
											<table class="center mt20"><tr><td>
												<button type="submit" class="ff-yh fs16 b" style="background-color:#cc3333;color:#fff;border:none;padding:5px 20px;">确认提交</button>
											</td></tr></table>
										</div>
									</form>

								</div>
							</div>







						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>

<script language="javascript" for="window" event="onload">
	function setMenuPisition() {
		var positionFixeds=document.getElementsByClassName("position_fixed");
		positionFixeds[0].style="height:80px;position:fixed;top:115px;";
		positionFixeds[1].style="height:80px;position:fixed;top:195px;";
		positionFixeds[2].style="height:80px;position:fixed;top:275px;";
		positionFixeds[3].style="height:80px;position:fixed;top:355px;";
		positionFixeds[4].style="height:80px;position:fixed;top:435px;";

	};
	if(document.readyState=="complete"){
		setMenuPisition();
	}
</script>
[#include 'inc_footer.html'/]
</body>
</html>
[/#escape]
