[#escape x as (x)!?html]
<div class="top">
	<div class="menu">
		<div class="logo"><img src="_files/images/logo.png" /></div>
		<ul class="nav0">
			<li id="nav_index" ><a href="${ctx}/"><span class="cn" style="color:red;top:0; left: 0px;">首页</span><span class="en" style="bottom:-30px; left: 0px;">index</span></a></li>
			[@NodeList;list]
			[#list list as n]
			<li ><a href="${n.url}"><span class="cn" style="top:0; left: 0px;">${n.name}</span><span class="en" style="bottom:-30px; left: 0px;">${n.number}</span></a></li>
			[/#list]
			[/@NodeList]
			</ul>
	</div>

	<div class="trademark">
		<ul >
			<li class="trademark-list" ><a href="/node/48_1.jspx"><img src="_files/images/hr_img1.png"></a></li>
			<li class="trademark-list" ><a href="/node/48_2.jspx"><img src="_files/images/hr_img1.png"></a></li>
			<li class="trademark-list" ><a href="/node/48_3.jspx"><img src="_files/images/hr_img1.png"></a></li>
			<li class="trademark-list" ><a href="/node/48_4.jspx"><img src="_files/images/hr_img1.png"></a></li>
		</ul>

	</div>

</div>
<!-- 导航结束 -->
[/#escape]