[#escape x as (x)!?html]
<div class="top">
	<div class="menu">
		<div class="logo"><img src="_files/images/logo.png" /></div>
		<ul class="rotatemenu">
			<li id="nav_index"  style="margin: 35px 0px 0px 30px;text-align: center" ><a href="${ctx}/"><span class="cn" style="color:red;top:0; left: 0px; font:16px/30px '微软雅黑';">首页</span></a></li>
			[@NodeList;list]
			[#list list as n]
			<li  style="margin: 35px 0px 0px 30px;text-align: center">
				<a href="${n.url}"><span class="cn" style="top:0; left: 0px;font:16px/30px '微软雅黑';">${n.name}</span>
				</a>
				<ul class="submenu">
					[#if n_index==0||n_index==3]
					[@InfoList nodeId=n.id sort='id asc' limit='6';list]
					[#list list as info]
					<li><a href="/node/[#if n_index==0]36[#else]51[/#if]_${info_index+1}.jspx">${info.title}</a></li>
					[/#list]
					[/@InfoList]
					[/#if]
					[#if n_index==1||n_index==2]
					[@NodeList parentId=n.id;list]
					[#list list as subn]
					<li><a href="/node/[#if n_index==1]48[#else]49[/#if]_${subn_index+1}.jspx">${subn.title}</a></li>
					[/#list]
					[/@NodeList]
					[#if n_index==2]
					<li><a href="/node/49_5.jspx">联系我们</a></li>
					[/#if]
					[/#if]
					[#if n_index==4]
					<li><a href="/node/52_1.jspx">公司新闻</a></li>
					<li><a href="/node/52_2.jspx">联系我们</a></li>
					<li><a href="/node/52_3.jspx">招聘职位</a></li>
					<li><a href="/node/52_4.jspx">各项信息</a></li>
					<li><a href="/node/52_5.jspx">给我留言</a></li>

					[/#if]
				</ul>
			</li>
			[/#list]
			[/@NodeList]
		</ul>
	</div>

</div>
<!-- 导航结束 -->
[/#escape]