[#escape x as (x)!?html]
<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8"/>
<title>${title}_${node.name}_${site.name}${global.customs['poweredby']}</title>
<meta name="keywords" content="${info.keywords}"/>
<meta name="description" content="${info.description}"/>
<link href="_files/global.css" rel="stylesheet"/>
<link href="_files/style.css" rel="stylesheet"/>
	<link href="_files/css/index.css" rel="stylesheet" type="text/css" />
	<link href="_files/css/css.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript">
        $(window).scroll(function() {
            $(".banner").css("position","fixed");
            $(".center").css({ 'position':'relative',"top":"960px"});
            var sc=$(document);
            if(sc.scrollTop()>=60) {
                $(".top").css("background","rgba(0, 0, 0, 0.66)");
            } else {
                $(".top").css("background","none");
            }
        })
        $(function() {
            $(".more-box").hover(function() {
                $(this).find("img").stop().animate({top:-58},500);
                $(".a_txt").css( "color","#cd0707")
            },function() {
                $(this).find("img").stop().animate({top:0},500);
                $(".a_txt").css( "color","#fff")
            });
            $(".more-box1").hover(function(){
                $(this).find("img").stop().animate({top:-58},500);
                $(".a_txt1").css( "color","#cd0707")
            },function(){
                $(this).find("img").stop().animate({top:0},500);
                $(".a_txt").css( "color","#fff")
            });
        })
        $(document).ready(function(e) {
            t = $('.center').offset().top;
            mh = $('.main').height();
            $(window).scroll(function(e){
                s = $(document).scrollTop();
                if(s > t - 100){
                    $('.banner').css({'position':'fixed','z-index':'1001','min-height':'100px'});
                    $(".DB_menuSet").hide();
                }else{
                    $('.banner').css({'position':'fixed','z-index':'999','min-height':'960px'});
                    $(".DB_menuSet").show();
                }
            })
        });
	</script>
[#include 'inc_js.html'/]
</head>
<body style="background:#000">
<div class="news_txt" >
	<div class="news_title">
		<div class="news_close">
			<a href="/node/52.jspx" ><img src="_files/images/news_close.png" /></a>
		</div>
		<h1>${info.title}</h1>
		<h2>${info.publishDate?string('yyyy-MM-dd HH:mm')}</h2>
	</div>
	<div class="news_content">
		<div style="text-align:center;">
			[#list info.textList as textInfo]
			[#noescape]${textInfo.text}[/#noescape]
			[/#list]
		</div>
	</div>
</div>
</body>
</html>
[/#escape]